# /etc/csc/ldap.cf: CSC LDAP Configuration

server_url = "ldaps:///"

users_base  = "ou=People,dc=csclub,dc=uwaterloo,dc=ca"
groups_base = "ou=Group,dc=csclub,dc=uwaterloo,dc=ca"
sudo_base = "ou=SUDOers,dc=csclub,dc=uwaterloo,dc=ca"

admin_bind_dn =
admin_bind_keytab = "/etc/csc/ceo.keytab"
admin_bind_userid = "ceo"

sasl_mech = "GSSAPI"
sasl_realm = "CSCLUB.UWATERLOO.CA"
