#!/usr/bin/make -f

CFLAGS  := -g -O2 -fstack-protector-all -fPIE
LDFLAGS := -pie -Wl,--as-needed

build:
	python setup.py -q build
	cd src && make CFLAGS="$(CFLAGS)" LDFLAGS="$(LDFLAGS)"

clean:
	dh_testdir
	dh_testroot
	dh_clean
	$(MAKE) -C src clean
	python setup.py -q clean -a

install: build
	dh_testdir
	dh_testroot
	dh_installdirs
	python setup.py -q install --no-compile -O0 --prefix=/usr --root=debian/ceo-gui
	$(MAKE) -C src DESTDIR=$(CURDIR)/debian/ceo-clients PREFIX=/usr install_clients
	$(MAKE) -C src DESTDIR=$(CURDIR)/debian/ceo-daemon PREFIX=/usr install_daemon

binary-arch: build install
	dh_testdir
	dh_testroot
	dh_installchangelogs
	dh_installdocs
	dh_installexamples
	dh_install
	dh_installman
	dh_link
	dh_strip
	dh_compress
	dh_fixperms
	dh_pysupport
	dh_installdeb
	dh_shlibdeps
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary-indep:

binary: binary-indep binary-arch

.PHONY: build clean binary-indep binary-arch binary install
