#!/usr/bin/make -f

PYTHON := python2.4

build: build-stamp

build-stamp:
	mkdir build
	$(CC) -DFULL_PATH='"/usr/lib/csc/ceo"' -o build/ceo misc/setuid-prog.c
	$(CC) -DFULL_PATH='"/usr/lib/csc/addhomedir"' -o build/addhomedir misc/setuid-prog.c
	$(CC) -DFULL_PATH='"/usr/lib/csc/csc-chfn"' -o build/csc-chfn misc/setuid-prog.c
	$(CC) -DFULL_PATH='"/usr/lib/csc/csc-chsh"' -o build/csc-chsh misc/setuid-prog.c
	cd src && make
	touch build-stamp

clean:
	dh_testdir
	dh_testroot
	dh_clean
	rm -f build-stamp
	rm -rf build/
	find pylib/ -name "*.pyc" -print0 | xargs -0 rm -f
	cd src && make clean

install: build
	dh_testdir
	dh_testroot

	dh_installdirs etc/csc usr/lib/$(PYTHON)/site-packages usr/share/csc \
	               usr/lib/csc usr/bin etc/ldap/schema
	dh_install pylib/* usr/lib/$(PYTHON)/site-packages/
	dh_install etc/* etc/csc/

	dh_install bin/ceo bin/addhomedir bin/csc-chsh bin/csc-chfn usr/lib/csc/
	dh_install build/ceo build/addhomedir bin/ceoquery build/csc-chsh build/csc-chfn src/addmember src/addclub usr/bin/
	dh_install misc/csc.schema etc/ldap/schema/
	
binary-arch: build install
	dh_testdir
	dh_testroot
	dh_installchangelogs 
	dh_installdocs docs/*
	dh_installexamples
	dh_install
#	dh_installlogrotate
#	dh_installcron
	dh_installman
	dh_link
	dh_strip
	dh_compress
	dh_fixperms
#	dh_perl
#	dh_python
#	dh_makeshlibs
	dh_installdeb
	dh_shlibdeps
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary-indep:

binary: binary-indep binary-arch

.PHONY: build clean binary-indep binary-arch binary install
